{{! template-lint-disable no-action no-curly-component-invocation no-down-event-binding no-implicit-this no-positive-tabindex }}
{{#if label}}
  <label for={{inputElementId}} class={{if required "md-required"}}>{{label}}</label>
{{/if}}

{{#if icon}}
  {{component iconComponent icon}}
{{/if}}

{{#if textarea}}
  <textarea
    class="md-input {{if isInvalid "ng-invalid"}} {{if isTouched "ng-dirty"}}"
    id={{inputElementId}}
    placeholder={{if shouldAddPlaceholder placeholder}}
    disabled={{disabled}}
    autofocus={{autofocus}}
    aria-describedby={{concat elementId "-char-count " elementId "-error-messages"}}
    onfocus={{onFocus}}
    onblur={{action "handleBlur"}}
    onkeydown={{onKeyDown}}
    onkeyup={{onKeyUp}}
    onclick={{onClick}}
    oninput={{action "handleInput"}}

    name={{this.passThru.name}}
    rows={{this.passThru.rows}}
    cols={{this.passThru.cols}}
    maxlength={{this.passThru.maxlength}}
    tabindex={{this.passThru.tabindex}}
    title={{title}}
    required={{this.passThru.required}}
    selectionEnd={{this.passThru.selectionEnd}}
    selectionStart={{this.passThru.selectionStart}}
    selectionDirection={{this.passThru.selectionDirection}}
    wrap={{this.passThru.wrap}}
    readonly={{this.passThru.readonly}}
    form={{this.passThru.form}}
    spellcheck={{this.passThru.spellcheck}}></textarea>
{{else}}
  <input
    class="md-input {{if isInvalid "ng-invalid"}}  {{if isTouched "ng-dirty"}}"
    id={{inputElementId}}
    placeholder={{if shouldAddPlaceholder placeholder}}
    type={{type}}
    disabled={{disabled}}
    autofocus={{autofocus}}
    aria-describedby={{concat elementId "-char-count " elementId "-error-messages"}}
    onfocus={{onFocus}}
    onblur={{action "handleBlur"}}
    onkeydown={{onKeyDown}}
    onkeyup={{onKeyUp}}
    onclick={{onClick}}
    oninput={{action "handleInput"}}

    accept={{this.passThru.accept}}
    autocomplete={{this.passThru.autocomplete}}
    autocorrect={{this.passThru.autocorrect}}
    autocapitalize={{this.passThru.autocapitalize}}
    autosave={{this.passThru.autosave}}
    form={{this.passThru.form}}
    formaction={{this.passThru.formaction}}
    formenctype={{this.passThru.formenctype}}
    formmethod={{this.passThru.formmethod}}
    formnovalidate={{this.passThru.formnovalidate}}
    formtarget={{this.passThru.formtarget}}
    height={{this.passThru.height}}
    inputmode={{this.passThru.inputmode}}
    min={{this.passThru.min}}
    maxlength={{this.passThru.maxlength}}
    max={{this.passThru.max}}
    multiple={{this.passThru.multiple}}
    name={{this.passThru.name}}
    pattern={{this.passThru.pattern}}
    readonly={{this.passThru.readonly}}
    required={{this.passThru.required}}
    selectionDirection={{this.passThru.selectionDirection}}
    size={{this.passThru.size}}
    spellcheck={{this.passThru.spellcheck}}
    step={{this.passThru.step}}
    tabindex={{this.passThru.tabindex}}
    title={{title}}
    width={{this.passThru.width}}>
{{/if}}

{{#unless hideAllMessages}}
  <div class="md-errors-spacer" id={{concat elementId "-char-count"}}>
    {{#if maxlength}}
      <div class="md-char-counter">{{renderCharCount}}</div>
    {{/if}}
  </div>
  {{#if isInvalidAndTouched}}
    <div class="md-input-messages-animation md-auto-hide" id={{concat elementId "-error-messages"}}>
      {{#each validationErrorMessages as |error index|}}
        <div id="error-{{inputElementId}}-{{index}}"
        class="paper-input-error ng-enter ng-enter-active md-input-message-animation"
        style="opacity: 1; margin-top: 0">
          {{error.message}}
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/unless}}

{{yield (hash
  charCount=currentLength
  isInvalid=isInvalid
  isTouched=isTouched
  isInvalidAndTouched=isInvalidAndTouched
  hasValue=hasValue
  validationErrorMessages=validationErrorMessages
)}}

{{#if iconRight}}
  {{component iconComponent iconRight}}
{{/if}}
